
/*|||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||

	GENERALT SIDEOPSÆTNING

|||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||*/

@import url(http://fonts.googleapis.com/css?family=Raleway);

*{
	padding:0;
	margin:0;
	font-family: raleway;
}

body{
	/*background: url(../img/green_cup.png);*/
	background-color: #f4f4f4;
}

main{
	margin: 10px 0 0 150px;
	box-sizing:border-box;
	padding: 10px;
}

article{
	background: #fff;
	padding: 10px 15px;
	margin: 10px;
	border: 1px solid #eaeaea;
}

/* ROW */

.row{
	background: black;
}

.row > *{
	padding: 5px 0;
	margin: 10px 0;
	float: left;
}

/* Opdeling */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-10, .col-11{
	float: left;
	box-sizing: border-box;
}

.col-12 { width: 100%; }

.col-11 { width: 91.66666667%; }

.col-10 { width: 83.33333333%; }

.col-9 { width: 75%; }

.col-8 { width: 66.66666667%; }

.col-7 { width: 58.33333333%; }

.col-6 { width: 50%; }

.col-5 { width: 41.66666667%; }

.col-4 { width: 33.33333333%; }

.col-3 { width: 25%; }

.col-2 { width: 16.66666667%; }

.col-1 { width: 8.33333333%; }

/* Message Classes */

.error, .info, .success, .warning{
	box-sizing:border-box;
	margin: 10px;
	padding: 20px 20px 20px 60px;
	position: relative;
	display: none;
}



.error{
	color: #ba052e;
	border: 1px solid #ba052e;
	border-radius: 5px;
	background: url(../img/error.png) no-repeat center left 10px  #ffd3d4;
	background-size: 35px;
}

.warning{
	color: #989605;
	border: 1px solid #989605;
	border-radius: 5px;
	background: url(../img/warning.png) no-repeat center left 10px  #fdfdcb ; 
	background-size: 35px;
}

.info{

	color: #050db9;
	border: 1px solid #050db9;
	border-radius: 5px;
	background: url(../img/info.png) no-repeat center left 10px  #c0eafa;
	background-size: 35px;
}

.success{
	color: #617c1b;
	border: 1px solid #617c1b;
	border-radius: 5px;
	background: url(../img/success.png) no-repeat center left 10px #d4fecc;
	background-size: 35px;
}

/* Float Fix */
.clearfix{
	clear: both!important;
}

.right{
	float: right!important;
}

.left{
	float: left!important;
}

/* APPEARANCE*/

.none{
	display:none!important;
}

/* TAB STYLING */

.htabs{
	margin: 10px;
	padding:0!important;
	box-sizing:border-box;
}

.htabs li > a{
	height: 19px;
	color: #c4c4c4;
	border:solid #c4c4c4;
	border-width: 1px 1px 0 1px;
	background: #fff;
	padding: 5px 10px;
	display: block;
	float: left;
	margin-right: 5px;
}
.htabs a > *{
	width: 14px;
	margin: 2px 5px 0 0;
	display: block;
	float: left;
}


.htabs li > a.activetab{
	height: 20px;
	color: #222123;
	font-weight: bold;
	border: 1px solid #5bb85d;
	border-bottom: none;
	margin-bottom: -10px;

	background: -moz-linear-gradient(top,  rgba(194,252,194,1) 0%, rgba(255,255,255,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(194,252,194,1)), color-stop(92%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(194,252,194,1) 0%,rgba(255,255,255,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(194,252,194,1) 0%,rgba(255,255,255,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(194,252,194,1) 0%,rgba(255,255,255,1) 92%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(194,252,194,1) 0%,rgba(255,255,255,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2fcc2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


/* LIST STYLING */

ul{
	list-style: none;
}

/* TABLE STYLING */

table{
	width: 100%;
	border-collapse: collapse;
	border-radius: 5px 5px 0 0;
	margin: 15px 0;
	font-size: 18px;
	border: solid #D0D0D0;
	border-width: 0 1px 1px 1px;
}

tbody{
	display: table-row-group;
}

tr.theader{
	border:none;
	box-shadow: 0 0 15px #000!important;

	background: #d0d0d0!important; /* Old browsers */
	background: -moz-linear-gradient(top,  #d0d0d0 0%, #ededed 4%, #ededed 95%, #d0d0d0 99%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0d0d0), color-stop(4%,#ededed), color-stop(95%,#ededed), color-stop(99%,#d0d0d0))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d0d0d0 0%,#ededed 4%,#ededed 95%,#d0d0d0 99%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d0d0d0 0%,#ededed 4%,#ededed 95%,#d0d0d0 99%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d0d0d0 0%,#ededed 4%,#ededed 95%,#d0d0d0 99%)!important; /* IE10+ */
	background: linear-gradient(to bottom,  #d0d0d0 0%,#ededed 4%,#ededed 95%,#d0d0d0 99%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#d0d0d0',GradientType=0 )!important; /* IE6-9 */

}

table tr{
	border:1px solid #d0d0d0;
	background: #f7f7f7;
}

tr.odd{
	background: #e9e9e9!important;
	border: none!important;
}

table img{
	height: 13px;	
}

table td{
	padding:3px 15px;
	font-weight: bold;
}


table th{
	color: #575757;
	padding:7px 15px;
	text-align: left;
}

/* ADVANCED TABLE */

#advancetbl, #advancetbl table tr, #advancetbl table, #advancetbl table table, #advancetbl table table tr{
	border: none;
}

tr.sheader{
	background: #e1e1e1;
	border-bottom:1px solid #d0d0d0!important; 
}

#advancetbl table{
	margin: 0!important;
}

#advancetbl td{
	padding: 0!important;
}

#advancetbl .tbl_head td{
	padding: 10px 15px!important;
}

#advancetbl .tbl_head{
	border:solid #d0d0d0;
	border-width: 1px 0 0 0!important;
}

/* TYPOGRAPH STYLING */

a{
	color: #222123;
	text-decoration: none;
}

h1{
	color: #222123;
	margin: 10px 20px;

}

/* FORM STYLING */

label{
	font-size: 16px;
	font-weight: bold;
	margin:15px 0 5px 0;
	padding: 0!important;
}

label, input{
	display: block;
	padding: 5px;
	width: 100%;
	box-sizing:border-box;
}

textarea{
	height: 250px;
	width: 100%; 
	resize: vertical;
}

input[type="submit"]{
	padding: 5px 15px;
	margin-top: 20px;
	background: #5bb85d;
	color: #fff;
	font-weight: bold;
	border: 1px solid #065506;
	box-shadow: 0 0 15px #c2fcc2 inset;
}


table label{
	margin-top: 5px;
}

table input{
	margin-bottom:15px;
}

table select{
	padding: 5px;
	box-sizing:border-box;
	margin: 0 0 15px 0;
}

table input[type="submit"]{
	margin: 10px 0;
	padding: 10px 0;
	width: 100%!important;
	float: right;
}

table form{
	width: 800px!important;
	margin: auto!important;
}

/* BUTTONS */

.add{
	font-weight: bold;
	background: url("../img/add.png") left center no-repeat;
	background-size:auto 50% ;
	padding: 5px 5px 5px 25px;
	border-radius: 3px;
	cursor: pointer;
}

.add:hover{
	color: #fff;
	background: url("../img/active_add.png") left center no-repeat #5bb85d;
	background-size:auto 50%;
}

.sadd{
	font-size: 12px;
	font-weight: bold;
	background: url("../img/add.png") left center no-repeat;
	background-size:auto 40% ;
	padding: 5px 5px 5px 15px;
	border-radius: 3px;
	cursor: pointer;
}

.sadd:hover{
	color: #fff;
	background: url("../img/active_add.png") left center no-repeat #5bb85d;
	background-size:auto 40%;
}






/*|||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||

	NAVIGATION

|||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||*/


#logo{
	width: 90%;
	margin: 5%;
}

nav{
	width: 150px;
	background:#222123;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
}

nav ul{
	list-style: none;
	margin-top: 15px;
	color: #fff;
}

nav ul li a{
	color: #fff;
	line-height: 15px;
	display: block;
	padding: 10px 15px;
}

nav ul li a:hover{
	text-decoration: none;
}

nav ul li:hover a {
	background: #1a191b;
}

li .active {
	background: url(../img/pointer.png) right center no-repeat #5bb85d;
	background-size:auto 60%;
}

.active:hover {
	background: url(../img/pointer.png) right center no-repeat #5bb85d;
	background-size:auto 60%;
}





/*|||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||

	HEADER

|||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||*/

header{
	height: 35px;
	background:#222123;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}


/*|||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||

	SIDE - NAVIGATION

|||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||*/


.menu{
	color: #c0c6bf;
	margin: 15px 5px;
	padding: 10px 15px;
	border: 1px solid #d8e0d7;
	box-shadow: 0px 0px 15px #f4f4f4 inset;
	cursor: pointer;
}



/*|||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||

	SIDE - SETIINGS

|||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||*/

#settings{
	margin-top: 35px;
}

#settings strong{
	text-transform: uppercase;
}

#settings article{
	border:1px solid #5bb85d;
}

/* Database tabel */
td.actions a{
	margin: -10px 0;
	padding:3px 5px;
	border-radius: 3px;
	display: inline-block;
	
}

td.actions a:hover{
	background: #dcdcdc;
}

td a.active{
	margin: -10px 0;
	padding: 3px 5px 13px;
	border-radius: 3px 3px 0 0;

	background: #c2fcc2; /* Old browsers */
background: -moz-linear-gradient(top,  #c2fcc2 0%, #dcdcdc 67%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2fcc2), color-stop(67%,#dcdcdc), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c2fcc2 0%,#dcdcdc 67%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c2fcc2 0%,#dcdcdc 67%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c2fcc2 0%,#dcdcdc 67%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c2fcc2 0%,#dcdcdc 67%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2fcc2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

td a.active:hover{
	background: #c2fcc2; /* Old browsers */
background: -moz-linear-gradient(top,  #c2fcc2 0%, #dcdcdc 67%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2fcc2), color-stop(67%,#dcdcdc), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c2fcc2 0%,#dcdcdc 67%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c2fcc2 0%,#dcdcdc 67%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c2fcc2 0%,#dcdcdc 67%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c2fcc2 0%,#dcdcdc 67%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2fcc2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

th.name, td.name{
	min-width: 150px;
	border: none;
}
th.actions, td.actions{
	min-width: 150px;
	width: 150px;
	border: none;
	text-align: center;
	padding: 5px 3px;
}
th.time, .time{
	min-width: 100px;
	width: 100px;
	text-align: center!important;
}
th.rows, td.rows{
	text-align: center;
	width: 100px;
}
th.datatype, td.datatype{
	text-align: center;
	width: 100px;
}
th.charset, td.charset{
	text-align: center;
	width: 150px;
}

th.tblid, td.tblid{
	width: 5px!important;
	padding: 3px!important;
}

th.controls, td.controls{
	text-align: center;
	width: 15px!important;
	padding: 3px!important;
	font-size: 8px!important;
}


th.int, td.int{ min-width: 25px; width: 50px; max-width: 75px;}
th.date, td.date{ min-width: 50px; width: 100px; max-width: 150px; }

th.varchar{min-width: 125px; width: 175px; }
td.varchar{min-width: 100px; width: 20%!important;}

th.text{min-width: 175px; width: 225px;}
td.text{min-width: 175px; width: 500px; max-width: 500px;}

td.marks, th.marks{min-width: 60px; width: 60px;}
td.type, th.type{width: 250px;}
td.default, th.default{width: 225px;}
td.null, th.null{width: 200px;}

/* EDIT CELL STYLING */
#advancetbl .edit img{
	width: 20px;
}

#advancetbl .edit th{
	padding: 10px 5px!important;
}

#advancetbl .edit td{
	border-top:1px solid #d0d0d0; 
}

#advancetbl .edit td{
	padding: 10px!important;
}


/* SHOW CELL STYLING */

#advancetbl .show th{
	padding: 10px!important;
	text-transform: uppercase;
}

#advancetbl .show td{
	border-top:1px solid #d0d0d0; 
}

#advancetbl .show td{
	padding: 10px 15px!important;
}

#advancetbl .show:last-child{
	padding: 20px;
}


/* ADD CELL STYLING */

#advancetbl .addrow{
	width: 100%;
	box-sizing:border-box;
	margin: auto;
	padding: 0 15px;
	border-top:1px solid #d0d0d0; 
}

#advancetbl .addrow td{
	padding: 5px!important;
	
}

#advancetbl .addrow form input, #advancetbl .addrow form label{
	width: 30%;
}

.toolset{
	margin: 10px 0!important;
	width: 100%;
	box-sizing:border-box;
}

.toolset > *{
	float: right;
}


table tr td p.noinfo{
	margin: 20px;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||

	TYPOGRAPH

|||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||*/

h2{
	color: #d0d0d0;
	margin: 15px 0;
}


a{
	color: #5bb85d;
}

a:hover{
	text-decoration: underline;
}





/* DIALOG BOX STYLING */


#dialog-confirm{
	font-size: 14px;
}

#dialog-confirm h1{
	font-size: 16px;
	margin-left: 10px;
}

#dialog-confirm p{
	font-size: 14px;
	margin: 10px 20px;
}

#dialog-confirm ul{
	list-style: disc;
	list-style-position: inside;
	margin: 30px 20px 0;
}

#dialog-confirm li{
	margin: 10px 0;
}


.ui-widget-header{
	background: transparent!important;
	border: none;
}

.ui-widget-content{
	background: #fff!important;

}

.ui-widget-content:after{
	border: 1px solid #c7c7c7;
	box-shadow: 0px 0px 20px 2px gray inset;
}

#dialog-confirm{
	background: transparent!important;
	box-shadow: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-button-text{
	padding: 5px 15px!important;
	box-shadow: 0 0 5px #3a3a3a;
}

.ui-dialog .ui-dialog-buttonpane .ui-button-text:visited{
	border: none;
	outline: none;
}

.ui-dialog .ui-dialog-buttonpane{
	background: transparent!important;
	border-width: 0;
	box-shadow: none;
}

.ui-widget-overlay{
	background: #000!important;
	background-image: none!important;
	opacity: 0.7;
}

/* TOOLTIP */

#tooltip {
    display:none;
    background-color: #222123;
    color: #f7f7f7;
    position:absolute;
    top:180px;
    left:250px;
    z-index:99;
    padding:5px 15px;
    border-radius: 3px;
}

#advancetbl tr td table tr td table tr.addfield td{
}

#advancetbl tr td table tr td table tr.addfield td div{
	border:1px solid #bababa;
	/*border-width: 3px;
	-webkit-border-image:url("../img/border.jpg") 2 round!important;
	-moz-border-image:url("../img/border.jpg") 2 round!important;
	border-image:url("../img/border.jpg") 2 round!important;*/
	
	box-shadow:0 0 35px #bababa inset;
	text-align: center;
	color: #9c9c9c;
	cursor: pointer;
	margin: -10px -15px -10px;
	padding: 10px;
}

#advancetbl tr td table tr td table tr.addfield td div:hover{
	background: #5bb85d;
	box-shadow:0 0 35px #e9e9e9 inset;
	color: #FFF;
}


.name input{
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	margin: -10px 0 -10px -7px;
}

table tr.addfield a{
	
}

input:focus{
	border: 2px solid #5bb85d;
	box-shadow: 0 0 2px #5bb85d;
	outline: none;
}

